body {
    padding-top: 0px !important;
    background-color: #000;
    font-family: Knowledge;
}

#navbar .navbar-inverse {
    background-color: #000 !important;
}

.jumbotron {
    background-color: #000 !important;
}

.content {
    margin: 0 auto !important;
}


p {
    color: #fff;
}
.rtv__extras{
  background-color: #000!important;
}
.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 90%;
}

.onebyone-carosel .active.left {
    left: -33.33%;
}

.onebyone-carosel .active.right {
    left: 33.33%;
}

.onebyone-carosel .next {
    left: 33.33%;
}

.onebyone-carosel .prev {
    left: -33.33%;
}

.text-center {
    text-align: center;
    color: #fff; 
}

.header {
    padding-top: 10px;
}

.header a {
    color: #f0efeb;
}

.header a:hover {
    color: #dbdad6;
}

.social {
}

.fb, .tw {
    display: inline-block;
    padding: 10px;
}

.connect-email {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 1px solid;
    border-radius: 3px;
}

.connect-email:hover {
    cursor: pointer;
}

input[type='email'], input[type='password'], input[type='submit'], input[type="checkbox"], .connect-email {
    background: #1b1b1b;
    border-color: #434343;
}

input[type='submit'] {
    background: #434343;
    color: #d6d5d1;
}

input[type='submit']:hover {
    background: #434343;
    color: #f7f6f2;
    border-color: #6bb1ff;
}

form > div {
    padding-left: 50px;
}

.email-field, .password-field {
    /*background-size: 40px 30px;*/
    background-repeat: no-repeat;
    -ms-background-position-y: center;
    background-position-y: center;
}

.email-field {
    background-image: url("signup_email_360.png");
}

.password-field {
    background-image: url("pass_360.png");
}

.container div.form-sign {
    width: 430px;
}

.container > .fb-tw > img {
    margin-left: 21px;
}
.rtv__extras{
    background-color: #000!important;
}
.rtv__title{

}
.form-register, .form-login {
    display: none;
}

.brand {
    display: inline-block;
    width: 140px;
    height: 40px;
    background: url(http://www.reuters.tv/img/brand.svg) 0 0 no-repeat;
    background-size: 136px 33px;
    text-indent: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}